.DS_Store
.DS_Store:Zone.Identifier
more_precise.png
Nice_Figure.ipynb
Nice_Figure.ipynb:Zone.Identifier
overview.png
README
README:Zone.Identifier
rel_error.png
stdev.png
test.txt
tryncated_rel_error.png
.ipynb_checkpoints/Nice_Figure-checkpoint.ipynb
.ipynb_checkpoints/Nice_Figure-checkpoint.ipynb:Zone.Identifier
Data/Chan_1.csv
Data/Chan_2.csv
Data/Chan_3.csv
Data/Chan_4.csv
Data/Chan_5.csv
Data/Chan_11.csv
Data/Chan_12.csv
Data/Chan_13.csv
Data/Chan_14.csv
Data/Chan_15.csv
